// Colors


$off-black: #20222b;
$tennant: #804b79;
$gray: #a7a7a7;
$dark-blue: #333745;
$purple: #8357c5;
$blue: #3c4251;
$off-blue: #23263c;
$off-white: #ccc8c8;


// Sizing

$sm-size: 0.5rem;
$md-size: 1.0rem;
$lg-size: 2.0rem;